@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
  --background: #101415;
  --foreground: #e0e3e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.glass-card {
  background: rgba(30, 41, 59, 0.4);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(144, 144, 151, 0.1);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

.glass-panel {
  background: rgba(16, 20, 21, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(69, 70, 77, 0.3);
}

.row-hover:hover {
  background-color: rgba(50, 53, 55, 0.4);
}

.sidebar-link-active {
  color: #7bd0ff;
  background: rgba(0, 166, 224, 0.1);
  border-right: 2px solid #7bd0ff;
}